/*GLOBAL*/
* {
  margin: 0;
  color: var(--darkest-green);
}

/*CUSTOM COLOURS*/
:root {
  --darkest-green: #152827;
  --dark-brown: #3e1f13;
  --muted-red: #6d3a36;
  --copper: #a3753e;
  --lighest-brown: #dcd6d0;
}

/*FONTS*/
.saira-condensed-thin {
  font-family: "Saira Condensed", serif;
  font-weight: 100;
  font-style: normal;
}

.saira-condensed-extralight {
  font-family: "Saira Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.saira-condensed-light {
  font-family: "Saira Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.saira-condensed-regular {
  font-family: "Saira Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.saira-condensed-medium {
  font-family: "Saira Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.saira-condensed-semibold {
  font-family: "Saira Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.saira-condensed-bold {
  font-family: "Saira Condensed", serif;
  font-weight: 700;
  font-style: normal;
}

.saira-condensed-extrabold {
  font-family: "Saira Condensed", serif;
  font-weight: 800;
  font-style: normal;
}

.saira-condensed-black {
  font-family: "Saira Condensed", serif;
  font-weight: 900;
  font-style: normal;
}

/*LAYOUT*/
.hidden {
  display: none;
}

button {
  width: 100px;
  background-color: var(--darkest-green);
  color: var(--lighest-brown);
  border: 1px solid var(--darkest-green);
  border-radius: 8px;
  cursor: pointer;
}

body {
  background-image: url("library-image.jpg");
  font-family: "Saira Condensed", serif;
}

.inner-body {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  /* border-bottom: solid 2px var(--darkest-green); */
  display: flex;
  justify-content: center;
  background-color: var(--lighest-brown);
  position: relative;
  box-shadow: 3px 3px 10px var(--darkest-green);
}

.page-title {
  font-size: 70px;
  margin: 10px;
  color: var(--darkest-green);
  background-color: var(--lighest-brown);
}

.new-button-div {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.new-book-button {
  box-shadow: 2px 2px 5px var(--darkest-green);
}

.new-book-button:hover {
  background-color: var(--muted-red);
}

form {
  width: 100%;
  background-color: white;
  font-weight: bold;
}

.form-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.form-indv-option {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.form-read-option {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
}

.form-submit-button {
  display: grid;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 20px;
  padding-bottom: 20px;
}

#submit-button {
  width: 100px;
  height: 30px;
  background-color: var(--darkest-green);
  color: var(--lighest-brown);
  border: 1px solid var(--darkest-green);
  border-radius: 8px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: var(--muted-red);
}

.library {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  /* border-top: solid 2px var(--darkest-green); */
  position: relative;
  box-shadow: 1px -1px 9px var(--darkest-green);
}

.library-book {
  background-color: var(--lighest-brown);
  border: 1px solid var(--copper);
  border-left: 7px solid var(--darkest-green);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  margin: 10%;
  padding: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  align-items: center;
}

.book-title {
  font-weight: bold;
  font-size: 20px;
}

.book-author {
}

.book-pages {
}

.book-bottom-line {
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
}

.read-items {
  display: flex;
  flex-wrap: wrap;
}

.book-isRead {
  padding-right: 9px;
}

.change-read-status-button {
  padding: 0;
  border: none;
  background: none;
  color: var(--darkest-green);
  width: fit-content;
  font-size: 150%;
}

.delete-book-button {
  padding: 0;
  border: none;
  background: none;
  color: var(--darkest-green);
  width: fit-content;
  font-size: 150%;
  justify-self: end;
}

.delete-book-button:hover {
  color: var(--muted-red);
}

.change-read-status-button:hover {
  color: var(--muted-red);
}

/*to do
- separate header colour
- change font sizes
- change card formatting
- add a delete and read icon
- curve card edges
- style buttons
- borders for header
*/
